*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'DM Sans', sans-serif;
}

.container
{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

li
{
    list-style: none;
}

a{
    text-decoration: none;
}

.hamburger
{
    display: none;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.row
{
    display: flex;
    justify-content: space-between;
}

.text-area
{
    width: 62%;
}

.imageDiv
{
    width: 36%;
}

img
{
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-menu
{
    display: flex;
    gap: 2em;
    margin-left: auto;
}

header
{
    padding: 1em 0;
    text-align: center;
}

.logo
{
    width: 125px;
    font-weight: 700;
    color: #1E0E62;
    font-size: 24px;
    line-height: 31.25px;
    letter-spacing: -0.29px;
}

.nav-link
{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #15143966;
}

.hero-content
{
    padding: 80px 0;
    width: 80%;
}

.heading
{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    color: #1E0E62;
}

.content 
{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #15143966;
    margin-top: 1em;
}

.CTA {
    width: 62%;
    margin-top: 4em;
}

button
{
    width: 170px;
    height: 60px;
    border-radius: 100px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.get-started
{
    background-color: #25DAC5;
    color: #fff;
}

.learn-more
{
    border: 2px solid #EBEAED;
    color: #101010;
    background-color: #fff;
}

.cta-text
{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #15143966;
    margin-top: 1em;
}

@media (max-width: 800px)
{
    .logo
    {
        margin-right: auto;
        width: 200px;
    }
    header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 3.8rem;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        height: 50vh;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item{
        margin: 2rem 0;
    }

    .nav-item + .nav-item
    {
        margin-left: 0;
    }

    .hamburger
    {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .col
    {
        display: flex;
        flex-direction: column;
    }

    .hero-content
    {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .text-area
    {
        width: 100%;
    }
    
    .CTA
    {
        width: 100%;
        margin: 0 auto;
        margin-top: 3em;
    }

    button
    {
        margin: 0 auto;
    }

    button + button {
        margin-top: 1em;
    }

    .imageDiv
    {
        width: 100%;
    }
}